<categories>
    {{each categories}}
    <div class="panel panel-default bloc" visible="${visible}">
        <div class="panel-heading"><p class="panel-title">${name} <span
                class="panel-title-continue">. . .</span></p></div>
        <div class="panel-body">

            <div class="row">
                {{each items}}
                <div class="item col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <center>
                                {{if url }}
                                <a href="${url}" target="_blank">
                                    {{if img }}
                                        <img src="${img}" alt="${name}"/>
                                    {{else}}
                                        <strong>${name}</strong>
                                    {{/if}}
                                </a>
                                {{else}}
                                    {{if img }}
                                        <img src="${img}" alt="${name}"/>
                                    {{else}}
                                        <strong>${name}</strong>
                                    {{/if}}
                                {{/if}}
                                {{if text }}
                                    <br/>${text}
                                {{/if}}
                            </center>
                        </div>
                        <div class="panel-footer">
                            <span data-toggle="tooltip" data-placement="bottom"
                                  class="status glyphicon glyphicon-repeat icon-refresh-animate"
                                  url="${url}" title="Loading..."></span>
                            <span data-toggle="tooltip" data-placement="bottom"
                                  class="glyphicon glyphicon-tags"
                                  title="Groups: ${group.join()}"></span>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>

        </div>
        {{if description }}
        <div class="panel-footer text-description">${description}</div>
        {{/if}}
    </div>

    {{/each}}
</categories>
